	<!-- Start Footer Section -->
	<footer class="footer-section">
		<div class="container relative">

			

			<div class="row g-5 mb-5">
				<div class="col-lg-4">
					<a class="navbar-brand" routerLink= "/"><img src="assets/images/logo.png"></a>
					<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo"><strong>Misión</strong><span></span></a></div>
					<p class="mb-4">Proporcionar agua purificada de calidad óptima, caracterizada por su equilibrio perfecto de sales para la hidratación humana y la preparación de alimentos. Ofrecer un servicio puntual y oportuno</p>

					<ul class="list-unstyled custom-social">
						<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
					</ul>
				</div>

				<div class="col-lg-8">
					<div class="row links-wrap">
						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#"><strong>About us</strong></a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contact us</a></li>
								<li><a href="#">Support</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#"><strong>Mi cuenta</strong> </a></li>
								<li><a href="#">ver mi cuenta</a></li>
								<li><a href="#">Configuración de cuenta</a></li>
								<li><a href="#">Estatus de cuenta</a></li>
							</ul>
						</div>

						<div class="col-6 col-sm-6 col-md-3">
							<ul class="list-unstyled">
								<li><a href="#"><strong>Carrito</strong></a></li>
								<li><a href="#">Ver mi carrito</a></li>
							</ul>
						</div>

					</div>

				</div>

					

			</div>

			<div class="border-top copyright">
				<div class="row pt-4">
					<div class="col-lg-6">
						<p class="mb-2 text-center text-lg-start"> Valle del Volcan 2022&copy;
							<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash;
							Designed with love by Pytechs and UX
							<!-- License information: https://untree.co/license/ -->
						</p>
					</div>

					<div class="col-lg-6 text-center text-lg-end">
						<ul class="list-unstyled d-inline-flex ms-auto">
							<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</footer>