<div class="mapa">
    <div class="container mt-4">
        <div class="row">
          <!-- Columna de contenido -->
          <div class="col-lg-6">
            <h2>Mapa</h2>
            
            <h4>Direcciones Para Llegar</h4>
           <div class="indicaciones">
            <h5>Colegio Ignacio Bernal</h5>
            <p>
                Circuito 181, Zona de la Universidad de las Américas, 72819 San Andrés Cholula, Pue.
            </p>
            <p class="ruta">
                > Continúa hacia Calle 14 Ote. (220 m)
            </p>
            <p class="ruta">
                > Continúa por C. la Mesa. Toma Prol. 4 Ote. hacia Av Maximino A. Camacho.(1,0 km)
            </p>
            <p class="ruta">
                > Conduce hacia Cam. Real a San Andrés/Maximino Ávila Camacho.(1,2 km)
            </p>
            <h5>
                Purificadora Valle del Volcán
            </h5>
            <p>
                Cam. Real a San Andrés 1230, Sin Nombre de Col 4, 72810 San Andrés Cholula, Pue.
            </p>
            </div>
            <!-- Más contenido -->
          </div>
          <!-- Columna del mapa -->
          <div class="col-lg-6 map-container">
            <!-- Iframe de Google Maps -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d6402.14179672266!2d-98.28797624749302!3d19.04594522371506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x85cfc64c933c44f3%3A0x6cd1db9774a5fb1a!2sColegio%20Ignacio%20Bernal!3m2!1d19.0516824!2d-98.2800875!4m5!1s0x85cfc79568c23d0f%3A0x5351b4dfd66713f3!2sPurificadora%20Valle%20del%20Volc%C3%A1n%2C%20Camino%20Real%20a%20San%20Andr%C3%A9s%2C%20Sin%20Nombre%20de%20Colonia%204%2C%20San%20Andr%C3%A9s%20Cholula%2C%20Pue.!3m2!1d19.0452795!2d-98.2876082!5e0!3m2!1ses!2smx!4v1713584872024!5m2!1ses!2smx" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
</div>
