<div class="top-half">
    <div class="container">
       
        <div class="row justify-content-start no-gutters" style="margin-top: 100px;">

            <div class="col-md-6">
                <h2 style="margin-bottom: 40px;">Estatus del Pedido</h2>
        
                <div class="row justify-content-start">
                    <div class="col-4">
                        <label for="showName" class="form-label" style="font-weight: bold;">Nombre</label>
                    </div>
                    <div class="col-7">
                        <input type="text" class="form-control" value="Fernando de Jesus Garcia Medina">
                    </div>
                </div>
            
                <div class="row justify-content-start">
                    <div class="col-4">
                        <label for="showDirection" class="form-label" style="font-weight: bold;">Dirección</label>
                    </div>
                    <div class="col-7">
                        <input type="text" class="form-control" value="Sherman calle Wallaby 42, Sidney">
                    </div>
                </div>
            
                <div class="row justify-content-start">
                    <div class="col-4">
                        <label for="showHorario" class="form-label" style="font-weight: bold;">Horario de Entrega Entre Semana</label>
                    </div>
                    <div class="col-7">
                        <input type="text" class="form-control" value="De 17:00 a 20:00">
                        
                    </div>
                </div>
            
                <div class="row justify-content-start">
                    <div class="col-4">
                        <label for="showComents" class="form-label" style="font-weight: bold;">Instrucciones Especiales</label>
                    </div>
                    <div class="col-7">
                        <input type="text" class="form-control" value="Zaguán rojo, número 6, a lado de una tienda">
                    </div>
                    
                </div>

                <div class="row justify-content-start">
                    <button class="edit-save-btn" style="margin-top: 40px;">Editar/Guardar</button>
                    <button class="delete-btn">Eliminar Pedido</button>

                </div>

            </div>
            
            <div class="col-md-6" style="margin-bottom: 200px;">
                <h2>Tus Productos</h2>
                <ul id="product-list" class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">Garrafon (Envase) x 4
                        <span class="badge bg-secondary">$240</span>
                    </li>
    
                    <li class="list-group-item d-flex justify-content-between align-items-center">Rellenado Garrafon x 4
                        <span class="badge bg-secondary">$80</span>
                    </li>
    
                    <li class="list-group-item d-flex justify-content-between align-items-center">Botella Anillo Personalizada x 20
                        <span class="badge bg-secondary">$200</span>
                    </li>
    
                    <li id="total-product-list" class="list-group-item d-flex justify-content-between align-items-center" style="font-weight: bold;">TOTAL
                        <span class="badge bg-primary">$520</span>
                    </li>
            
                  </ul>
            </div>
        
        </div>
    </div>
   
</div>