
    <div class="wrapper">
        <div class="phone">
            
            <main>
                <div class="cards container">
                  
                    <div class="card-head">
                        <p class="section-title" >Mis tarjetas</p>
                    </div>
                    <div class="card-list">
   				
                    </div>
                    
                    <div class="card-slider">
				
                    </div>
                </div>
                
                <div class="contacts container">
                    <p class="section-title">Opciones</p>
                    <div class="contacts-list">
                        <div class="contact contact-add">
                            <div class="icon icon-calendar"></div>
                            <div class="contact-name">Mis pedidos</div>
                        </div>
                        <a routerLink="/perfil" class="contact">
                        <div class="">
                            <div class="contact-avatar">
                                <img src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" alt="">
                            </div>
                            <div class="contact-name">Mi Perfil</div>
                        </div>
                        </a>

                        
                        <a routerLink="/wallet" class="contact">
                        <div class="">
                            <div class="contact-avatar">
                                <img src="https://i.pinimg.com/736x/dc/36/45/dc3645b35f114f6bb2468db388229e8a.jpg" alt="">
                            </div>
                            <div class="contact-name" >Administrar Tarjetas</div>
                        </div>
                        </a>
                       
                    </div>
                </div>
                <div class="transactions">
                    <div class="transactions-head">
                        <p class="section-title" style="padding-left: 20px;">Mis Pedidos</p>
                    </div>
                    
                    <ul class="transactions-list">
                        <li class="transaction">
                            <div class="transaction-img">
                                <span class="icon icon-calendar"></span>
                            </div>
                            <div class="transaction-info">
                                <p class="transaction-title">Pedido 1</p>
                                <p class="transaction-desc">Garrafon de Agua 20L</p>
                                <p class="transaction-desc">No Entregado</p>
                            </div>
                            <span class="transaction-sum">$15 <a routerLink="/status" class="btn"><img src="../../assets/images/status.svg" alt=""></a> </span>
                           
                        </li>
                        <li class="transaction">
                            <div class="transaction-img">
                                <span class="icon icon-calendar"></span>
                            </div>
                            <div class="transaction-info">
                                <p class="transaction-title">Pedido 2</p>
                                <p class="transaction-desc">Botella de Agua de 1L</p>
                                <p class="transaction-desc">Entregado</p>
                            </div>
                            
                            <span class="transaction-sum">$13.5 <a class="btn" ><img src="../../assets/images/check_status.svg" alt=""></a> </span>

                        </li>
                        <li class="transaction">
                            <div class="transaction-img">
                                <span class="icon icon-calendar"></span>
                            </div>
                            <div class="transaction-info">
                                <p class="transaction-title">Pedido 3</p>
                                <p class="transaction-desc">Garrafon de Agua 20L</p>
                                <p class="transaction-desc">Entregado</p>
                            </div>
                            <span class="transaction-sum">$80 <a class="btn" ><img src="../../assets/images/check_status.svg" alt=""></a> </span>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>

<!--     
</body>
</html> -->