<body>
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <p class="mb-4">100% Lorem ipsum dolor sit ame </p>
                        <h1>Purificadora <span clsas="d-block">Valle del volcan</span></h1>
                        <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                            vulputate velit imperdiet dolor tempor tristique.</p>
                        <p>
                            <a routerLink="/delivery" class="btn btn-secondary me-2">Shop Now</a>
                            <a href="#" class="btn btn-white-outline">Ver mas</a>
                        </p>

                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="assets/images/garrafon.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- Start We Help Section -->
    <div class="we-help-section">
        <div class="container">
            <div class="row justify-content-center">

                <h1 class="section-title mb-4">Proceso de Purificación</h1>
                <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam
                    ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant
                    morbi tristique senectus et netus et malesuada</p>

                <div class="process-wrapper">


                    <div class="row text-center">
                        <!-- Step 1 -->
                        <div class="col-lg-4 step">
                            <div class="number-circle">1</div>
                            <h3>Captación de Agua</h3>
                            <p>Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices,
                                orci vitae convallis mattis.</p>
                        </div>
                        <!-- Step 2 -->

                        <div class="col-lg-4 step">
                            <div class="number-circle">2</div>
                            <h3>Agua cruda</h3>
                            <p>Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices,
                                orci vitae convallis mattis.</p>
                        </div>
                        <!-- Step 3 -->

                        <div class="col-lg-4 step">
                            <div class="number-circle">3</div>
                            <h3>Hidroneumatico</h3>
                            <p>Aliquam erat volutpat. Integer malesuada turpis id fringilla suscipit. Maecenas ultrices,
                                orci vitae convallis mattis.</p>
                        </div>

                    </div>
                </div>

                <p><a routerLink="proceso-purificacion" class="btn">Ver proceso</a></p>

            </div>
        </div>
    </div>
    <div class="gota-section">
        <div class="container">
            <img src="assets/images/gota.png">
        </div>
    </div>
    <!-- End We Help Section -->
    <!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <h2 class="mb-4 section-title text-center">Precio de los Productos </h2>
            <p class="text-center"> Contamos con servicio de facturacion.</p>
            <p class="text-center"> Sujeto a zona de reparticion</p>
            <p class="text-center"> Pregunta por nuestros convenios de volumen</p>
            <div class="row ">
                <div class="col-lg-3">
                    <div class="card h-100">
                      <div class="card-body d-flex flex-column">
                        <p class="lead"><strong>Envase Garrafones</strong></p>
                        <div class="img-card justify-content-center">
                            <img src="../../assets/images/garrafon-info.png" class="img-fluid" style=" width: 130px;"/>
                          </div>

                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Valle del volcan 20 lt: $95 pesos
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                            <label class="form-check-label" for="defaultCheck2">
                                Ciel 20 lt: $100 pesos
                            </label>
                          </div>
            
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                            <label class="form-check-label" for="defaultCheck3">
                                Bonafon 20 lt: $105 pesos
                            </label>
                          </div>

                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                            <label class="form-check-label" for="defaultCheck4">
                                Epura 20 lt: $125 pesos 
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                            <label class="form-check-label" for="defaultCheck5">
                                Valle del volcan 11 lt: $75 pesos
                            </label>
                          </div>
                        
                            <p class="card-text"><span>Estos precios incluyen envase y liquido</span></p>
                        <a href="#!" class="btn">Comprar</a>
                      </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="card h-100">
                      <div class="card-body d-flex flex-column">
                        <p class="lead"><strong>Botella de Anillos</strong></p>
                        <div class="jimg-card justify-content-center">
                            <img src="../../assets/images/botella-anillo.png" class="img-fluid" />
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                            <label class="form-check-label" for="defaultCheck6">
                                Botella de plastico anillada 1lt: $9.50 
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                            <label class="form-check-label" for="defaultCheck7">
                                Botella de plastico anillada 500ml: $7.50 
                            </label>
                          </div>
                          <p>c/u.(rejilla de 24 botellas) </p>
                        <a href="#!" class="btn">Comprar</a>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <p class="lead"><strong>Botella Boston</strong></p>
                            <div class="img-card justify-content-center">
                                <img src="../../assets/images/botella-boston.png" class="img-fluid"
                                    style=" width: 170px;" />

                            </div>
                            <p>Botella de plastico Boston 1lt</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                                <label class="form-check-label" for="defaultCheck7">
                                    Etiqueada con vinil eco mate o brillante con marca: $13.50
                                </label>
                              </div>
                              <p>Botella de plastico Boston 500ml</p>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                                <label class="form-check-label" for="defaultCheck8">
                                    Etiqueada con vinil eco mate o brillante con marca: $11.00
                                </label>
                              </div>

                            <p  style="margin-bottom: 20px;">c/u.(rejilla de 24 botellas) </p>
                            
                          <a href="#!" class="btn">Comprar</a>
                        </div>
                      </div>
      
                 </div>

                <div class="col-lg-3">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <p class="lead"><strong>Precios Servicios</strong></p>
                            <div class="img-card justify-content-center">
                                <img src="../../assets/images/servicio-domicilio.png" class="img-fluid"
                                    style=" width: 160px;" />

                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                                <label class="form-check-label" for="defaultCheck9">
                                    Precio Ventanilla $15
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                                <label class="form-check-label" for="defaultCheck10">
                                    Precio Domicilio $20
                                </label>
                              </div>
                            
                          <a href="#!" class="btn">Comprar</a>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
    <!-- End Product Section -->
    <div class="who-section">
        <!-- About 1 - Bootstrap Brain Component -->
        <section class="py-3 py-md-5 py-xl-8">
            <div class="container">
                <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                    <div class="col-12 col-lg-6 col-xl-5">
                        <img class="img-fluid rounded" loading="lazy" src="../../assets/images/delivery-guy.png" alt="">
                    </div>
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="row justify-content-xl-center">
                            <div class="col-12 col-xl-11">
                                <h2 class="h1 mb-3">¿Quienes Somos?</h2>
                                <p class="lead fs-4 text-secondary mb-3"> Somos un negocio local que busca brindar un servicio confiable 
                                    de calidad a sus clientes. Buscamos solucionar sus necesidades de agua para beber con nuestra variedad de Productos
                                    y servicios haciendole llegar el agua a su domicilio.
                                </p>
                                <p class="mb-5">
                                    "Disfruta de la Pureza en Cada Gota: Nuestra Tecnología de Purificación de Agua, Garantía de Bienestar para Tu Hogar y Tu Familia."</p>
                                <div class="row gy-4 gy-md-0 gx-xxl-5X">
                                    <div class="col-12 col-md-6">
                                        <div class="d-flex">
                                            <div class="me-4 text-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                    fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                                                </svg>
                                            </div>
                                            <div>
                                                <h4 class="mb-3">Tecnología y Salubridad</h4>
                                                <p class="text-secondary mb-0">
                                                    "Nuestro proceso de purificación garantiza la calidad del agua para consumo, brindándote tranquilidad en cada sorbo."
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="d-flex">
                                            <div class="me-4 text-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                                  </svg>
                                            </div>
                                            <div>
                                                <h4 class="mb-3">Confiabilidad</h4>
                                                <p class="text-secondary mb-0">"Nuestro equipo se compromete a garantizar la 
                                                    confiabilidad del agua en cada etapa, desde la purificación hasta la distribución, 
                                                    brindándote tranquilidad en cada sorbo."</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h2 class="section-title">Porque escogernos</h2>
                    <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit
                        imperdiet dolor tempor tristique.</p>

                    <div class="row my-5">
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="assets/images/truck.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Servicio a domicilio</h3>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                                    vulputate.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="assets/images/bag.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Autoservicio</h3>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                                    vulputate.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="assets/images/support.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Agua Certificada</h3>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                                    vulputate.</p>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                    <img src="assets/images/return.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Servicio de facturacion</h3>
                                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                                    vulputate.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-9 mb-5 mb-lg-0">
                        <div class="imgs-grid">
                            <div class="grid grid-1"><img src="assets/images/proceso_agua.jpg" alt="Untree.co"></div>
                            <div class="grid grid-2"><img src="assets/images/certificado.jpg" alt="Untree.co"></div>
                            <div class="grid grid-3"><img src="assets/images/dispensador.png" alt="Untree.co"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->

    <div class="map-section">
        <div class="container">
          <div class="row">
            <div class="col d-flex p-0"> <!-- Elimina el relleno predeterminado de la columna de Bootstrap -->
              <div class="img-wrap">
                <img src="assets/images/local_image.jpg" alt="Image" class="img-fluid">
              </div>
              <div class="texto-map">
                <h1 class="section-map mb-4">¡Ven a Conocer Nuestra Sucursal!</h1>
                <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada...</p>
                <p><a routerLink="mapa" class="btn">Ver mapa</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>


</body>