<!-- <!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="UTF-8">
        <title>CodePen Demo</title>
      
        <meta name="robots" content="noindex">
      
        <meta charset="utf-8">
          <meta name="viwport" content="width=device-width, initial-scale=1.0">
          <title>Coca Cola Website Landing Page</title>
          
          
          
      </head>
<body> -->

  
            <div class="wrapper">
              <div class="app-wrapper">
          
                <!--Wallet-->
                <aside class="wallet">
                  <h2>Mis tarjetas</h2>
                  <div class="modal-control">+</div>
                  <div class="cards"></div>
                </aside>
          
                <content class="transactions-wrapper">
                  <h2>
                    Saldo a favor
                    <span class="total-balance"></span>
                  </h2>
                  <div class="transactions"></div>
                </content>
          
              </div>
          
            </div>
            <div class="modal">
              <div class="modal-body">
                <h3>Add New Card</h3>
                <div class="modal-close">+</div>
                <div class="card-list">
                  <div class="card-image visa"></div>
                  <div class="card-image amex"></div>
                  <div class="card-image mc"></div>
                </div>
              </div>
            </div>
          
      

<!--     
</body>
</html> -->