#inputs {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px ;
    padding-bottom: 30px; /* Adjust the value as needed */

    background-image: url("../../assets/images/background1.svg");
    margin-top: 40px;
    width: 100%;
    height:fit-content;
    max-width: 100vw;
}

#success-card {
    margin: 0 auto; /* This will center the div horizontally */
}