<div class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  align-self-center">
          <div class="section-heading">
            <h6>Contactanos</h6>
            <h2>Sientete libre de comunicarnos en cualquier momento</h2>
            <div class="col-lg-12">
                <div class="d-flex p-4 rounded mb-4 bg-white">
                    <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                    <div>
                        <h4>Direccion</h4>
                        <p class="section-info" >Cam. Real a San Andrés 1230, Sin Nombre de Col 4, 72810 San Andrés Cholula, Pue.</p>
                    </div>
                </div>
                <div class="d-flex p-4 rounded mb-4 bg-white">
                    <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                    <div>
                        <h4>Mail Us</h4>
                        <p class="section-info">{{ email }}</p>
                    </div>
                </div>
                <div class="d-flex p-4 rounded bg-white">
                    <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                    <div>
                        <h4>Telephone</h4>
                        <p class="section-info">(+012) 3456 7890</p>
                    </div>
                </div>
                <p>O contactanos en nuestras redes sociales</p>
                <ul class="list-unstyled custom-social">
                  <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
            
                </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-us-content">
            <form id="contact-form" action="" method="post">
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-mail..." required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" id="message" placeholder="Mensaje"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="orange-button">Enviar Mensaje</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        
       
      </div>
      <div class="map-contact">
        <div class="col-lg-12">
            <div class="h-100 rounded">
                <iframe class="rounded w-100" 
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.4195136102826!2d-98.2901833240643!3d19.045284252934618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc79568c23d0f%3A0x5351b4dfd66713f3!2sPurificadora%20Valle%20del%20Volc%C3%A1n!5e0!3m2!1ses!2smx!4v1713564107517!5m2!1ses!2smx" 
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   
            </div>
        </div>
    </div>
    </div>
  </div>
