
.procesoAgua {

  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
  font-size: 14px;
  background-color: #DFECFF;
  overflow-x: hidden;
  height: auto; /* Cambia esto a auto para permitir que se expanda con el contenido */
  padding-bottom: 100px;
 }
      /* Estilos para los cuadrados */
  .footer-squares {
    /*position: absolute;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .footer-squares#text1 {
   align-items: center;
   position: relative; /* Asegura que la posición se base en el contenedor padre */
   bottom: 160px; /* Ajusta manualmente la posición en el eje Y */
  }

  .footer-squares#text3 {
    align-items: center;
    position: relative; /* Asegura que la posición se base en el contenedor padre */
    top: 60px; /* Ajusta manualmente la posición en el eje Y */
    font-size: 1.1em; /* Tamaño de fuente más grande */
   }

   .footer-squares#text3T {
    align-items: center;
    text-align: center;
    position: relative; /* Asegura que la posición se base en el contenedor padre */
    top: 60px; /* Ajusta manualmente la posición en el eje Y */
    font-size: 2.0em; /* Tamaño de fuente más grande */
   }

   .footer-squares#text5 {
    align-items: center;
    position: relative; /* Asegura que la posición se base en el contenedor padre */
    bottom: 100px; /* Ajusta manualmente la posición en el eje Y */
    font-size: 1.1em; /* Tamaño de fuente más grande */
  }

  

  .footer-squares#text5T {
    align-items: center;
    text-align: center;
   position: relative; /* Asegura que la posición se base en el contenedor padre */
   bottom: 100px; /* Ajusta manualmente la posición en el eje Y */
    font-size: 2.0em; /* Tamaño de fuente más grande */
  }
   #text4{
    position: absolute;
    bottom: -30%;
    right: 14%;
  
   }

   
#text4-1{
  
  margin-right: 30%;
}

  .footer-square {
    width: 100px; /* Ancho definido para los cuadrados */
    height: 100px; /* Alto definido para los cuadrados */
    background-color: #A0C8FF; /* Color de relleno de los cuadrados */
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    position: relative;
    
  }

  .footer-square#square1 {
    width: 100px; /* Ancho definido para los cuadrados */
    height: 100px; /* Alto definido para los cuadrados */
    background-color: #A0C8FF; /* Color de relleno de los cuadrados */
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    font-weight: bold; /* Texto en negritas */
    position: relative; /* Asegura que la posición se base en el contenedor padre */
    bottom: 165px; /* Ajusta manualmente la posición en el eje Y */
}

.footer-square#square3 {
  width: 100px; /* Ancho definido para los cuadrados */
  height: 100px; /* Alto definido para los cuadrados */
  background-color: #A0C8FF; /* Color de relleno de los cuadrados */
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  padding: 25px;
  position: relative; /* Asegura que la posición se base en el contenedor padre */
  top: 45px; /* Ajusta manualmente la posición en el eje Y */
}


/* Estilos para el footer */
.body-section{
    background-image: url('../../assets/images/tuberia.svg');
    background-size: contain; /* Ancho y alto específicos para la imagen de fondo */
    background-repeat: no-repeat;
    background-position: center; /* Posiciona la imagen centrada */
    background-attachment: scroll;
    padding: 50px 0; /* Puedes ajustar el padding según necesites */
    position: relative;
    height: 1000px;
    z-index: 1;
    margin-top: 8%;
    margin-bottom: 20%;
  }

  
.bsection-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas con ancho igual */
  gap: 20px; /* Espacio entre las columnas */
}

  .body-section .bsection-333{
    width: 100%; /* Ancho completo */

    text-align: center;
    padding: 50px;
    box-sizing: border-box;
    height: auto;
  }

  .body-section .bsection-433{
    width: 100%; /* Ancho completo */
    height: 433px;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
 
    display: block;
  }

  .body-section .bsection-433 a{
    margin-top: 10%;
  }

  /* Estilos para el título centrado con padding de altura */
  .title-section {
    padding: 30px; /* Padding de altura */
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 30px; /* Margen inferior */
  }
  
  .title-section h1 {
    font-size: 60px; /* Tamaño de fuente grande para el título */
    font-weight: bold; /* Texto en negritas */
    color: #333333; /* Color del texto */
    margin-bottom: 20px; /* Margen inferior para el título */
  }

  /* Estilos para el footer */
  .footer-section {
    background-image: url('../../assets/images/tuberia.svg');
    display: flex;
    flex-direction: column; /* Distribución vertical de las secciones */
    justify-content: space-between; /* Espacio entre las secciones */
    background-color: #f9f9f9; /* Color de fondo del footer */
    min-height: 100vh; /* Mínimo alto para ocupar toda la pantalla */
    padding: 20px 0;
  }
   /* Estilos para las secciones del footer */
   .footer-section .section {
    width: 100%; /* Ancho completo */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd; /* Línea divisoria entre las secciones */
  }

  .footer-section .section:last-child {
    border-bottom: none; /* Eliminar línea divisoria en la última sección */
  }
  .btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: #000000;
    background: #ffffff;
    border-color: #ffffff; }
    .btn:hover {
      color: #ffffff;
      background: #1B69C5;
      border-color: #1B69C5; }
    .btn:active, .btn:focus {
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .btn.btn-primary {
      background: #ffffff;
      border-color: #ffffff; }
      .btn.btn-primary:hover {
        background: #1B69C5;
        border-color: #1B69C5; }
    .btn.btn-secondary {
      color: #2f2f2f;
      background: #ffffff;
      border-color: #ffffff; }
      .btn.btn-secondary:hover {
        color: #ffffff;
        background: #1B69C5;
        border-color: #1B69C5; }
    .btn.btn-white-outline {
      background: transparent;
      border-color: #000;
     }
      .btn.btn-white-outline:hover {
        border-color: white;
        color: #ffffff; }

.imagen-gota{
  position: absolute;
  top: 20px;
  left: 60%; 
  z-index: -4;
}

.imagen-certificado img {
  max-width: 100%; /* Asegúrate de que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.imagen-certificado {
  display: flex; /* Usa flexbox para centrar */
  justify-content: center; /* Centra los elementos hijos horizontalmente */
  margin: 0 auto; /* Centra el contenedor */
  padding: 20px 0; /* Agrega algo de padding arriba y abajo */
}
